---
---

{% extends 'base.njk' %}

{% block content %}
    <p>This site is currently maintained by Ivo Valchev.</p>
    <p>To get in touch or suggest RSS feeds to crawl, you can:</p>
    <ul>
        <li>Find me on LinkedIn</li>
        <li>Create an issue on GitHub</li>
        <li>Email me: me [et] ivovalchev.com </li>
    </ul>
{% endblock %}
