---
pagination:
    data: feeds
    size: 5
---

{% extends 'base.njk' %}

{% block content %}
    <section>
        {% for feed in pagination.items %}
            <article>
                <h3><a href="{{ feed.link }}" target="_blank" rel="noreferrer">{{ feed.title }}</a></h3>
                <section>
                    {{ feed['content:encoded']|truncate_html(50)|safe }}
                    <p>Published by {{ feed.author }} on {{ feed.isoDate|date }}</p>
                </section>
            </article>
            <hr>
        {% endfor %}
        <nav>
            {% if pagination.href.previous %}
                <a href="{{ pagination.href.previous|url }}">Previous</a>
            {% endif %}

            {% if pagination.href.next %}
                <a href="{{ pagination.href.next|url }}">Next</a>
            {% endif %}
        </nav>
    </section>
{% endblock %}
