<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Product News</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" type="image/svg" href="{{ '/assets/favicon.svg'|url }}">
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,700;1,400;1,800&display=swap" rel="stylesheet">
    <link href="{{ '/assets/splendor.min.css'|url }}" rel="stylesheet" />
    <link href="{{ '/assets/styles.css'|url }}" rel="stylesheet" />
</head>
<body>

<nav>
    <a href="{{ '/'|url }}">Home</a> |
    <a href="{{ '/contact'|url }}">Add feed</a>
</nav>

{% if page.url == '/' %}
    <div style="background-color: var(--primary);">
        <header>
            <h1>Product news <b><i>you need</i></b></h1>
            <p>This site aggregates news from reputable publications
            and blogs 4 times a day to bring you a fine collection of recent developments
            in product.</p>
        </header>
    </div>
{% endif %}

{% block content %}
{% endblock %}

</body>
</html>
