<meta name="description" content="">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ page.url|url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="Product News">
<meta property="og:description" content="No more spammy emails and notifications. Only unobtrusive news aggregation that you can review at your own pace.">
<meta property="og:image" content="https://image.thum.io/get/crop/500/https://newsinproduct.com" name="image">
<meta name="author" content="Ivo Valchev">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://i-valchev.github.io/productnews/https://nocodeapi.com/">
<meta name="twitter:title" content="Product News">
<meta name="twitter:description" content="No more spammy emails and notifications. Only unobtrusive news aggregation that you can review at your own pace.">
<meta name="twitter:image" content="https://image.thum.io/get/crop/500/https://newsinproduct.com">
